@model List<LPManagement.UI.Models.LaunchPadDetailsModel>

<section>
    <div class="container-fluid">
        <div class="col-md-3 pull-left">
            <div class="row">
                @Html.Label("Location")
                @Html.DropDownList("locations", ViewBag.Locations as SelectList, new { id = "location", onchange = "getLPDetails()" })
            </div>

            <div class="row">
                @Html.Label("Status")
                @Html.DropDownList("status", ViewBag.Status as SelectList, new { id = "status", onchange = "getLPDetails()" })
            </div>

            <div class="row">
                @Html.Label("Finanicial year")
                @Html.DropDownList("financialYear", ViewBag.FinancialYear as SelectList, new { id = "financialYear", onchange = "getLPDetails()" })
            </div>

            <div class="row">
                @Html.Label("Practice")
                @Html.DropDownList("practice", ViewBag.Practice as SelectList, new { id = "practice", onchange = "getLPDetails()" })
            </div>
        </div>
        <div class="col-md-9">
            @Html.Partial("DashboardContent", Model)
        </div>
    </div>
</section>

<script type="text/javascript">

    function getLPDetails() {
        var location = $("#location").val();
        var status = $("#status").val();
        var financialYear = $("#financialYear").val();
        var practice = $("#practice").val();
        $.ajax
        ({
            url: '/LPManagement/DashboardContent',
            type: 'GET',
            data: { "location": location, "status": status, "financialYear": financialYear, "practice": practice },
            success: function (result) {
                $('.table').html("");
                $('.table').html(result);
            },
            error: function () {
                alert("Server error! Please try after sometime...");
            },
        });
    }
</script>
