@model List<LPManagement.UI.Models.LaunchPadDetailsModel>

<section>
    <div class="container-fluid">
        <div class="col-md-3 pull-left">
            <div class="row">
                @Html.Label("Location")
                @Html.DropDownList("locations", ViewBag.Locations as SelectList, new { id = "location", onchange = "getLPDetails()" })
            </div>

            <div class="row">
                @Html.Label("Quarter")
                @Html.DropDownList("quarter", ViewBag.Quarter as SelectList, new { id = "quarter", onchange = "getLPDetails()" })
            </div>

            <div class="row">
                @Html.Label("Status")
                @Html.DropDownList("status", ViewBag.Status as SelectList, new { id = "status", onchange = "getLPDetails()" })
            </div>
        </div>
        <div class="col-md-9">
            @Html.Partial("DashboardContent", Model)
            <div id="divInPogress" style="display:none;">
                <img src="~/Images/spinner.gif" alt="loading..." style="height:100px; width:100px;" />
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    function getLPDetails() {
        $("#divInPogress").show();
        var location = $("#location").val();
        var quarter = $("#quarter").val();
        var status = $("#status").val();
        $.ajax
        ({
            url: '/LPManagement/DashboardContent',
            type: 'GET',
            data: { "location": location, "quarter": quarter, "status": status, "financialYear": 2017 },
            success: function (result) {
                $('.table').html("");
                $('.table').html(result);
            },
            complete: function () {
                $("#divInPogress").hide();
            },
            error: function () {
                alert("Server error! Please try after sometime...");
            },
        });
    }
</script>
